{{ define "content" }}
<h1>Статус обращений</h1>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Компания</th>
            <th scope="col">Рекрутер</th>
            <th scope="col">Статус</th>
            <th scope="col">Дата</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Interactions }}
        <tr>
            <td>{{ .CompanyName }}</td>
            <td>{{ .RecruiterName }}</td>
            <td>{{ .Status }}</td>
            <td>{{ .Date }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
